body{
    font-size: 14px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, san-serif;
    color: #333333;
    padding: 0;
    margin: 0;
}

#header{
    height: 40px;
    width: 100%;
    background-color: #2c2c2c;
    position: fixed;
    top: 0;
}

#header .conteiner{
    width: 964px;
    margin: 0 auto;
    padding: 0 8px;
}

#user_menu{
    float: right;
    line-height: 40px;
}

#user_menu a{
    display: block;
    padding: 0 25px;
    text-decoration: none;
    color: #ccc;
}

#user_menu .dropdown{
    display: none;
    position: absolute;
    z-index: 902;
    background: #000;
    border-bottom: #d21a6f 2px solid;
    top: 40px;
}

#user_menu:hover .dropdown{
    display: block;
}

#user_menu .dropdown ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#enter_btn, #basket{
    float:right;
    line-height: 40px;
}

#basket a{
    color: #ccc;
    text-decoration: none;
}
#navigation{
    position: relative;
    overflow: hidden;
    margin: 0 0 0 0;
}

#navigation ul{
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
}

#navigation ul li{
    list-style:none;
    display: inline-block;
    position: relative;
    left: -50%;
    margin: 0 5px;
}

#navigation ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

#navigation ul li a:hover{
    text-decoration: none;
    color: #999999;
}

#wrapper{
    width: 980px;
    margin: 60px auto 0;
    clear: both;
}


#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:absolute;
    left:0;
    top:0px;
    -top: 40px;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding: 20px;
    overflow: hidden;
}

#boxes #dialog {
    width: 620px;
    height:230px;
    padding:10px;
    background-color:#ffffff;
    padding: 37px 20px 40px 20px;
}

.top {
    position:absolute;
    left:0;
    top:0;
    line-height:30px;
    padding: 0 20px;
    width:620px;
    height:30px;
}

.close {
    float:right;
}

.content {
    padding-top: 25px;
}

#auth_box input{
    height: 22px;
    padding: 8px 11px 8px 11px;
    border: #cfd4d9 1px solid;
    font-size: 18px;
    width: 256px;
    margin: 0 0 20px 0;
    background: #fff;
    outline: none !important;
    font-family: 'pf_square_sans_proregular', Arial, Verdana, sans-serif;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
}

#auth_box input[type="submit"]{
    display: inline-block;
    background: #626f77;
    padding: 10px 19px 11px;
    color: #fff;
    width: auto;
    height: auto;
    cursor: pointer;
    font-size: 18px;
    min-width: 142px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
}

#auth_box input[type="submit"]:hover{
    background: #999;
}

#auth_box .auth_block_left{
    width: 280px;
    float: left;
    padding-right: 48px;
}

#auth_box .auth_block_right{
    width: 280px;
    float: right;
    margin: 0 3px 0 0;
}

#auth_box input.error{
    border: red 1px solid;
}
