<ul>
    {% for item in category %}
        <li><a class="{% if request_url.2 == item.slug %}active{% endif %}"
               href="{% url 'showcase:index_cat' item.slug %}" >{{item.title}}</a>
        </li>
        {% if request_url.2 and request_url.2 == item.slug %}
            {% for sub_item in sub_category %}
                {% if forloop.first %}
                    <ul>
                {% endif %}

                {% if sub_item.category_id == item.id %}
                    <li><a href="{% url 'showcase:index_cat_sub' item.slug sub_item.slug     %}">{{sub_item.title}}</a></li>
                {% endif %}

                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>