{% extends "base.html" %}
{% load pool_category %}

{% block static %}
    {{ block.super }}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'showcase/css/main.css' %}" >
    <script src="{% static 'showcase/js/showcase.js' %}"></script>
{% endblock %}

{% block main %}
<div id="showcase_app">
    <div class="left_bar">
        {% block category_list %}
            {% show_cat request.path %}
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
            <div id="item-list">
                {% for item in object_list %}
                    <div class="item-box" id="id_{{item.id}}">
                        <a href="{% url 'showcase:detail' item.slug %}">{{ item.title }}</a>
                        <a href="{% url 'showcase:detail' item.slug %}">
                            <img src="{% static 'showcase/img/no_item.jpg' %}">
                        </a>
                        <div><button id="item_{{item.id}}" class="add_to_cart">В корзину</button> ${{ item.price }}</div>
                    </div>
                {% empty %}
                    В этой категории пока нет товаров
                {% endfor %}
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}