<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My site{% endblock %}</title>
    {% block static %}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</head>
<body>

<div id="header">
    <div class="conteiner">
        {% block header %}
            {% if request.user.is_authenticated %}
                <div id="basket">
                    <a href="{% url 'cart:index' %}">Корзина</a>
                    <span>({{ request.session.user_cart.total_count}})</span>
                </div>
                <div id="user_menu">
                    <a href="#">{{ request.user }}</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#">Мои заказы</a></li>
                            <li><a href="#">Мой профиль</a></li>
                            <li><a href="{% url 'user:logout' %}">Выход</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <a href="#dialog" id="enter_btn" name="modal">Войти</a>
                <div id="boxes">
                    <div id="dialog" class="window">
                        {% load form_auth %}
                        <div class="top"><a href="#" class="link close"/>Закрыть</a></div>
                        <div class="content">{% show_forms %}</div>
                    </div>
                </div>
                <div id="mask"></div>
            {% endif %}
        {% endblock %}

        <div id="navigation">
            {% block navigation %}
            <ul>
               <li><a href="/showcase">Showcase</a></li>
               <li><a href="/showcase">About</a></li>
               <li><a href="/showcase">Contact</a></li>
            </ul>
            {% endblock %}
        </div>
    </div>
</div>

<div id="wrapper">
        {% block main %}
        {% endblock %}
    </div>
</div>

<div>
    {% block footer %}
    {% endblock %}
</div>




</body>
</html>